<div class="mdc-form-field submit-button {{#if additionalclass}}{{additionalclass}}{{/if}}">
    <button class="mdc-button mdc-button--raised save-button" onclick="{{onclick}}">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">
            {{title}}
        </span>
    </button>
</div>